{
    "trailingComma": "none",
    "overrides": [
        {
            "files": "**/lwc/**/*.js",
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": {
                "parser": "html"
            }
        }
    ]
}