:host {
  --dangerColor: rgb(194, 2, 1);
  --dangerActiveColor: rgb(172, 0, 0);
  --warningColor: rgb(255, 183, 93);
  --warningActiveColor: rgb(255, 158, 44);
  --infoColor: rgb(0, 112, 210);
  --infoActiveColor: rgb(0, 95, 178);
  --whiteColor: rgb(255, 255, 255);
}

.alert-button {
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: center;
  vertical-align: middle;
  justify-content: center;

  color: var(--whiteColor);
}

.danger {
  background-color: var(--dangerColor);
}

.warning {
  background-color: var(--warningColor);
}

.info {
  background-color: var(--infoColor);
}

.danger.active {
  background-color: var(--dangerActiveColor);
}

.warning.active {
  background-color: var(--warningActiveColor);
}

.info.active {
  background-color: var(--infoActiveColor);
}

.active {
  box-shadow: inset 0 0 10px #000000;
}
