name: PMD Source Code Analyzer on Push

on: [push]

jobs:
  pmd:
    runs-on: ubuntu-latest

    steps:
      - uses: sfdx-actions/setup-pmd@v1
      - name: run-pmd
        run: pmd -d ./force-app/main/default/classes -R ./pmd-apex-quickstart.xml -f text
